* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
html, body  {
    transition: 1s;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.root    {
    width: 100%;
    height: 100%;
    background: #248883;
}
::-webkit-input-placeholder {
    color: white;
}
:-moz-placeholder   {
    color: white;
}
::-moz-placeholder  {
    color: white;
}
:-ms-input-placeholder  {
    color: white;
}
.Navbar    {
    background-color: #429583;
    color: #fff;
    font-family: 'open sans', sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header    {
    padding: 3px;
    text-align: center;
    margin: 3px;
    margin-left: 10px;
    font-size: 25px;
    letter-spacing: 3px;
}
.TemperatureUnit    {
    padding: 4px;
    text-align: center;
    margin: 4px;
    font-size: 20px;
    letter-spacing: 1px;
}
.TemperatureUnitSelect    {
    border: 1px solid #fff;
    background: #7DADA1;
    color: #fff;
    font-size: 16px;
    width: 60px;
    padding: 2px;
}
.LocationInput    {
    margin: 4px;
    padding: 2px;
    font-size: 20px;
}
.LocationInputWrapper    {
    display: flex;
    align-items: center;
    background: #7DADA1;
    color: #fff;
    padding: 2px;
}
.SearchIcon    {
    margin: 2px;
}
.AddressInput    {
    font-size: 17px;
    padding: 2px;
    margin: 3px;
}
.getGeolocationIconWrapper, getGeolocationIconWrapper:active, getGeolocationIconWrapper:visited    {
    text-decoration: none;
    color: #fff;
    transition: 1s;
}
.getGeolocationIconWrapper:hover    {
    text-shadow: 2px 2px grey;
}
.getGeolocationIcon    {
    font-size: 15px;
}
.WeatherScreen    {
    display: flex;
    font-family: 'open sans', sans-serif;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.CurrentWeather    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.LocationInfo    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
}
.CityStateCountry   {
    font-size: 35px;
    margin: 2px;
}
.UpdateTime    {
    margin: 2px;
    font-size: 15px;
}
.Timezone    {
    margin: 2px;
}
.Offset    {
    margin: 2px;
}
