* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html, body  {
    transition: 1s;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#data-root    {
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.5)
}
::-webkit-input-placeholder {
    color: white;
}
:-moz-placeholder   {
    color: white;
}
::-moz-placeholder  {
    color: white;
}
:-ms-input-placeholder  {
    color: white;
}
.spinnerBlock   {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'open sans', sans-serif;
    transition: 1s;
    font-size: 40px;
    display: none;
}
.navBar {
    transition: 1s;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    margin: 0;
    font-size: 50px;
    font-family: 'open sans', sans-serif;
    letter-spacing: 4px;
}
.locationBlock  {
    text-align: center;
    position: absolute;
    height: 120px;
    padding: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'open sans', sans-serif;
    transition: 1s;
}
.locationBlockContainer {
    position: relative;
    display: block;
}
.locationInputBox   {
    padding: 5px;
    color: #f0f0f0;
    border: 1px solid #000;
    margin-bottom: 30px;
    margin-right: 5px;
}
.getLocationIcon, .getLocationIcon:hover .getLocationIcon:active, .getLocationIcon:visited    {
    text-decoration: none;
    color: #000;
}
.checkWeatherBtn {
    font-family: 'open sans', sans-serif;
    color: #f0f0f0;
    border: 2px solid #000;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 10px;
}
