* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}
html, body  {
    transition: 1s;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#root    {
    width: 100%;
    height: 100%;
    background: rgb(100, 100, 100)
}
/*
::-webkit-input-placeholder {
    color: white;
}
:-moz-placeholder   {
    color: white;
}
::-moz-placeholder  {
    color: white;
}
:-ms-input-placeholder  {
    color: white;
}*/
.spinnerBlock   {
    text-align: center;
    font-family: 'open sans', sans-serif;
    transition: 1s;
    font-size: 40px;
    margin: 40px;
    display: none;
}
.navBar {
    transition: 1s;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    margin: 0;
    font-size: 50px;
    font-family: 'open sans', sans-serif;
    letter-spacing: 4px;
}
.FrontLandingWrapper    {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.EnterLocationWrapper    {
    text-align: center;
    background: #ffffff;
}
.EnterLocation    {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.InputStatus    {
    font-size: 30px;
    font-family: 'open sans', sans-serif;
    display: block;
}
.LocationInput   {
    font-family: 'open sans', sans-serif;
}
.LocationInputTextWrapper    {
    display: inline-block;
    border: 1px solid #000;
}
.LocationInputText    {
    font-size: 40px;
    padding: 2px;
}
.GetLocationBtn    {
    display: inline-block;
    margin: 5px;
    border-left: 1px solid #000;
    padding: 5px;
}
.location-icon    {
    padding: 0;
    margin: 0;
    height: 100%;
}
.GetWeatherBtn    {
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', sans-serif;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 10px;
    padding: 15px;
    letter-spacing: 2px;
}
